<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
	<div id ="app">
		<h2><b>다음은 중식 메뉴들 입니다. 좋아하는 메뉴를 모두 골라주세요.</b></h2>
		<input type="checkbox" value="짜장면" v-model="menu"> 짜장면 
		<input type="checkbox" value="짬뽕" v-model="menu"> 짬뽕 
		<input type="checkbox" value="탕수육" v-model="menu"> 탕수육 
		<input type="checkbox" value="양장피" v-model="menu"> 양장피 
		<input type="checkbox" value="유린기" v-model="menu"> 유린기
		
		<hr>
		선택한 메뉴들 :: <span>{{menu}}</span>		
	</div>
	
	<script>
		var app = new Vue({
			el:'#app',
			data:{
				menu : []
			}
		
		});
	</script>
</body>
</html>